x64
.vs
build
.clangd
*.out
*.o
*.exe
*.tmp
3rdparty/glfw/lib/*
3rdparty/glfw/build/*
test/test_math
test/test_utils
examples/shapes/draw_line
examples/shapes/draw_rectangle
examples/shapes/draw_triangle
examples/shapes/mixed
test/test_object
examples/objects/gizmo_2d
examples/objects/gizmo_3d
examples/lighting/ambient
examples/lighting/diffuse
examples/lighting/specular
